<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout :: link-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fogotpass.css}">
    <title>Forgot Password</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<h3>Quên mật khẩu</h3>
<form action="/forgot-password" method="post">
    <div class="forgot-password">
        <input placeholder="Your Gmail" type="email" id="email" name="email" required><br>
        <button class="dark" type="submit">Nhận mã</button>
    </div>
</form>
<th:block th:replace="layout :: footer"></th:block>
<script>
    document.querySelector('.email-icon').addEventListener('mouseover', function() {
    });

    document.querySelector('.email-icon').addEventListener('mouseout', function() {
    });
</script>
</body>
</html>
