<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout :: link-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fogotpass.css}">
    <title>Reset Password</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<h3>Đặt lại mật khẩu</h3>
<form action="/reset-password" method="post">
    <input type="hidden" name="email" th:value="${email}">
    <input placeholder="Mật khẩu mới" type="password" id="password" name="password" required><br>
    <input placeholder="Xác nhận mật khẩu" type="password" id="confirmPassword" name="confirmPassword" required><br>
    <button class="dark" type="submit">Cập nhật</button>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
</form>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
